PyTorch/CIFAR10/checkpoint/
PyTorch/CIFAR10/CIFAR10/
PyTorch/FashionMNIST/checkpoint/
PyTorch/FashionMNIST/fashionMNIST/
PyTorch/ISIC-cancerdata/checkpoint/
PyTorch/ISIC-cancerdata/Data/
PyTorch/MNIST/checkpoint/
PyTorch/MNIST/mnist/